@import './base.css';

body {
    min-height: 100vh;
    background-color: var(--surface-ground);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}