<template>
  <div id="app" class="flex justify-content-center ">
    <div class="flex-row">
      <h2 class="flex align-items-center flex-wrap mb-5">Project for functional programming</h2>
      <div class="flex align-items-center flex-row">
        <div>
          <Textarea v-model="inputData1" class="w-full h-10rem"
                    placeholder="Enter data (comma-separated)"></Textarea>

          <InputText v-model="key1" :hidden="displayFirstKeyInput" class="w-full" placeholder="Key 1"
                     type="text"></InputText>
        </div>
        <div>
          <Textarea v-model="inputData2" :hidden="displaySecondDataInput" class="w-full h-10rem"
                    placeholder="Enter data (comma-separated)"></Textarea>
          <InputText v-model="key2" :hidden="displaySecondKeyInput" class="w-full" placeholder="Key 2"
                     type="text"></InputText>
        </div>

        <Dropdown v-model="selectedMethod" :options="methods" optionLabel="name"
                  placeholder="Select a method"></Dropdown>
      </div>
      <Button class="w-full" label="Execute" @click="executeMethod"></Button>
      <h3 class="mt-5">Result</h3>
      <Textarea v-model="resultData" class="w-full h-10rem" placeholder="Result" readonly></Textarea>
      <h3 class="mt-5">Upload file</h3>
      <FileUpload
          :max-file-size="10000000"
          :multiple="true"
          accept=".csv,.json"
          @upload="onUpload($event)"
      ></FileUpload>
      <h3>Save file</h3>
      <Button @click="saveTextAsCSV" label="Save as CSV..."></Button>
    </div>

  </div>
</template>

<script>

import dataProcessingLibrary from './util/DataProcessing.js';
import dataProcessingTests from './util/DataProcessingTests.js';
import Button from "primevue/button";
import Dropdown from "primevue/dropdown";
import Textarea from "primevue/textarea";
import InputText from "primevue/inputtext";
import FileUpload from "primevue/fileupload";


export default {
  name: 'App',
  components: {
    Button,
    Dropdown,
    Textarea,
    InputText,
    FileUpload
  },
  created() {
    dataProcessingTests.runTests()
  },
  computed: {
    displaySecondDataInput() {
      return this.selectedMethod.hasOwnProperty('displaySecondInput') ? !this.selectedMethod.displaySecondInput : true
    },
    displayFirstKeyInput() {
      return this.selectedMethod.hasOwnProperty('displayFirstKeyInput') ? !this.selectedMethod.displayFirstKeyInput : true
    },
    displaySecondKeyInput() {
      return this.selectedMethod.hasOwnProperty('displaySecondKeyInput') ? !this.selectedMethod.displayFirstKeyInput : true
    }
  },
  data() {
    return {
      inputData1: '',
      inputData2: '',
      key1: '',
      key2: '',
      selectedMethod: '',
      resultData: '',
      methods: [
        {name: 'Filter (even numbers)', method: 'filter'},
        {name: 'Transform (double)', method: 'transform'},
        {name: 'Count', method: 'count'},
        {name: 'Count', method: 'countIf'},
        {name: 'Sum', method: 'sum'},
        {name: 'Average', method: 'average'},
        {name: 'Order', method: 'order'},
        {name: 'Unique', method: 'unique'},
        {
          name: 'Join',
          method: 'join',
          displayFirstKeyInput: true,
          displaySecondKeyInput: true,
          displaySecondInput: true
        },
        {name: 'Append', method: 'append', displaySecondInput: true},
        {
          name: 'Upsert',
          method: 'upsert',
          displayFirstKeyInput: true,
          displaySecondKeyInput: true,
          displaySecondInput: true
        },
        {name: 'Split', method: 'split'}
      ],
    };
  },
  methods: {
    async saveTextAsCSV() {
      if (this.inputData1 === '') { return }
      let data = this.inputData1.split(',').map((value) => ({ value }));
      let path = 'output.csv';

      try {
        await dataProcessingLibrary.writeCSV(data, path);
        console.log(`Successfully wrote CSV to ${path}`);
      } catch (error) {
        console.error(`Error writing CSV to ${path}:`, error);
      }
    },
    onUpload(event) {
      this.uploadedFiles = event.files;
      for (let file of this.uploadedFiles) {
        const reader = new FileReader();
        reader.onload = async (e) => {
          const data = e.target.result;
          const path = file.name;
          if (path.endsWith('.csv')) {
            console.log(data, path)
          } else if (path.endsWith('.json')) {
            console.log(data, path)
          } else {
            console.error('Invalid file format');
          }
        };
        reader.readAsText(file);
      }
    },
    executeMethod() {
      if (!this.selectedMethod) return;
      const dataArray1 = this.inputData1.split(',').map(Number);
      const dataArray2 = this.inputData2.split(',').map(Number);
      const methodName = this.selectedMethod.method;
      let result;

      switch (methodName) {
        case 'filter':
          result = dataProcessingLibrary.filter(dataArray1, (value) => value % 2 === 0);
          break;
        case 'transform':
          result = dataProcessingLibrary.transform(dataArray1, (value) => value * 2);
          break;
        case 'count':
          result = dataProcessingLibrary.count(dataArray1);
          break;
        case 'countIf':
          result = dataProcessingLibrary.countIf(dataArray1, (value) => value % 2 === 0);
          break;
        case 'sum':
          result = dataProcessingLibrary.sum(dataArray1);
          break;
        case 'average':
          result = dataProcessingLibrary.average(dataArray1);
          break;
        case 'order':
          result = dataProcessingLibrary.order(dataArray1);
          break;
        case 'unique':
          result = dataProcessingLibrary.unique(dataArray1);
          break;
        case 'join':
          result = dataProcessingLibrary.join(dataArray1, dataArray2, this.key1, this.key2)
          break;
        case 'append':
          result = dataProcessingLibrary.append(dataArray1, dataArray2)
          break;
        case 'upsert':
          result = dataProcessingLibrary.upsert(dataArray1, dataArray2, this.key1, this.key2)
          break;
        case 'split':
          result = dataProcessingLibrary.split(dataArray1, (value) => value % 2 === 0);
          break;
        default:
          return;
      }

      this.resultData = Array.isArray(result) ? result.join(', ') : result;
    },
  },
};
</script>